// Define variables for your color scheme

// For example:
$cyan-700: #097695;
$orange-500: #FD7E14;
$cyan-900: #045065;
$orange-700: #A24C03;
$cyan-100: #C8E8F1;
$orange-100: #FFE5D0;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #6C757D;
$light-gray: #F4F4F4;
$red: #ff0000;
