// Define variables for your color scheme

// For example:

$cyan-700: #097695;
$orange-500: #FD7E14;
$cyan-900: #045065;
$orange-700: #A24C03;
$cyan-100: #C8E8F1;
$orange-100: #FFE5D0;
$light-gray: #F8F9FA;
$gray: #6C757D;
