.hero-section {
  width: auto;
  display: block;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
  background-image: url(atomo-arte-moderno-horizonte-urbano-OK.jpg);
}
