<!-- Footer Section -->
  <footer class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Contact Info -->
          <p class="footer-txt">Contact Information</p>
          <ul class="contact-info">
            <li>
              <i class="fas fa-envelope"></i> hello@gliide.me
            </li>
            <li>
              <i class="fas fa-phone"></i> +52 782-102-1294
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i> Ohio 20, Nápoles, 03810 Ciudad de México, CDMX
            </li>
          </ul>

          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-footer" %>
        </div>
        <div class="col-md-6">
          <!-- Social Media Links -->
          <p class="footer-txt">Follow Us</p>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
          <%= link_to "View Locations", locations_path, class: "btn btn-footer" %>
          <%= link_to "View Cities", cities_path, class: "btn btn-footer" %>
        </div>
      </div>
    </div>
  </footer>
