<!-- Footer Section -->
  <footer class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Contact Info -->
          <h3>Contact Information</h3>
          <ul class="contact-info">
            <li>
              <i class="fas fa-envelope"></i> example@example.com
            </li>
            <li>
              <i class="fas fa-phone"></i> +1 123-456-7890
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i> 1234 Street, City, Country
            </li>
          </ul>

          <a href="http://localhost:3000/users/sign_up" class="btn btn-footer">Sign Up</a>
        </div>
        <div class="col-md-6">
          <!-- Social Media Links -->
          <h3>Follow Us</h3>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
          <a href="http://localhost:3000/locations" class="btn btn-footer">View Locations</a>
          <a href="http://localhost:3000/cities" class="btn btn-footer">View Cities</a>

        </div>
      </div>
    </div>
  </footer>
