<!-- Footer Section -->
  <footer class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Contact Info -->
          <p class="footer-txt">Contact Information</p>
          <ul class="contact-info">
            <li>
              <i class="fas fa-envelope"></i> example@example.com
            </li>
            <li>
              <i class="fas fa-phone"></i> +1 123-456-7890
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i> 1234 Street, City, Country
            </li>
          </ul>

          <a href="http://localhost:3000/users/sign_up" class="btn btn-footer">Sign Up</a>
        </div>
        <div class="col-md-6">
          <!-- Social Media Links -->
          <p class="footer-txt">Follow Us</p>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
          <%= link_to "My Locations", my_locations_path, class: "btn btn-primary", style: "color: white" %>
          <%= link_to "Cities", cities_path, class: "btn btn-primary", style: "color: white" %>

        </div>
      </div>
    </div>
  </footer>
