<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="display: flex; width: 1440px; height: 80px; padding: 24px 48px; align-items: center; gap: 400px; flex-shrink: 0; background: var(--primary-primary, #097695);">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "/assets/Glide-logo-white.png", style: "width: 80px;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My Reviews", "#", class: "nav-link", style: "color: white; font-weight: bold;" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Locations", "#", class: "nav-link", style: "color: white; font-weight: bold;" %>
          </li>
          <li class="nav-item dropdown">
            <!-- Rest of the code -->
          </li>
        <% else %>
          <!-- Rest of the code -->
        <% end %>
      </ul>
    </div>
  </div>
</div>
