/* Location Card Styles */
.location-card-container-2 {
  width: 250px;
  height: 400px;
  margin-top: 40px;
  padding: 15, 10, 10, 10;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 20px;
}

.location-card-content-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.location-card-name-2 {
  font-size: 22px;
  font-family: Anek Latin;
  font-weight: 500;
  line-height: 1;
  word-wrap: break-word;
}

.location-card-image-2 {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-card-spaces-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-card-space-left-2,
.location-card-space-right-2 {
  width: 48%;
  height: 30px;
  background: #C8E8F1;
  border-radius: 5px;
  overflow: hidden;
  border: 0.25px #097695 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-card-space-txt-2 {
  text-align: center;
  font-size: 12px;
  font-family: Anek Latin;
  font-weight: 600;
  line-height: 12px;
  word-wrap: break-word;
}

.location-card-address-2 {
  width: 100%;
}

.location-card-address-txt-2 {
  max-height: 70px;
  color: #191919;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word;
}

.location-card-btn-2 {
  width: 100%;
  background: #097695;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 12px;
  word-wrap: break-word;
}

/* Additional style for cancel button */
.btn-outline-secondary {
  margin-top: 10px;
}
