.container-title-myloc {
  padding-top: 40px;

}

.container-new-loc {
  width: 100%;
  align-content: center;
  border-radius: 10px;
  padding: 40px;
}

.container-map {
  display: flex;
  justify-content: center;
}

.form-control {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  color: var(--gray-500, #ADB5BD);
  text-align: left;
  /* Input */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
}

.form-label {
  font-size: 18px;
  margin-bottom: 4px;
}

.placeholder-text {
  width: 500px;
  border-radius: 8px;
  background-color: white;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
}

.section-name {
  width: 100%;
  height: auto;
  margin: 45px 0px 45px 0px;
  padding: 30px 0px 30px 0px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: $gray-400;
}

.location_name {
  width: 300px !important;
}

.btn-cyan-700-location {
  width: 160px;
  height: 48px;
  background: #097695;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  word-wrap: break-word;
}

.btn-cyan-700:hover {
  background: #045065;
}

.custom-label {
  font-family: "Anek Latin", sans-serif;
}
