.form-control {
  width: 500px;
  border-radius: 8px;
  background-color: white;
  color: var(--gray-500, #ADB5BD);
  text-align: center;
  /* Input */
  font-family: Anek Latin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
}

.placeholder-text {
  width: 500px;
  border-radius: 8px;
  background-color: white;
  text-align: left;
  font-family: Anek Latin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
}


.btn-cyan-700-location {
  width: 120px;
  height: 30px;
  background: #097695;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: Anek Latin;
  font-weight: 600;
  word-wrap: break-word;
}

.btn-cyan-700:hover {
  background: #045065;
}
