.btn-search {
  width: 40px;
  height: 35px;
  padding: 0%;
  border-radius: 0px 10px 10px 0px;
  background-color: $orange-500;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-search:hover {
  background: $orange-700;
}

.form-control-sb {
  width: 400px;
  height: 35px;
  border-radius: 10px 0px 0px 10px;
  color: var(--gray-500, #ADB5BD);
  text-align: center;

  /* Input */
  font-family: Anek Latin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
}

.lupa {
  width: 18px;
  height: 18px;
}

.col-sm-8 {
  display: flex;
  justify-content: center;
}
