// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Estilos de los Range Input de la sección de Ratings, no borrar:
.form-group {
  margin-bottom: 60px;
}

.range-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.range-input {
  width: 50%;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 50%;
}

.range-label {
  font-size: 12px;
}

.bordered-avatar {
  border: 1px solid white;
  border-radius: 50%;
  padding: 2px;
}

.location-photo-container {
  width: 150px; /* You can adjust the size as needed */
  height: 150px;
  overflow: hidden;
}

.location-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-container {
  width: 200px; /* You can adjust the size as needed */
  height: 200px;
  overflow: hidden;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
