// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";

// Estilos de los Range Input de la sección de Ratings, no borrar:

.main-content {
  padding-bottom: 60px; /* Add 60px padding at the bottom */
}

/* Icon style */
.icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.bordered-avatar {
  border: 1px solid white;
  border-radius: 50%;
  padding: 2px;
}

.location-photo-container {
  width: 150px; /* You can adjust the size as needed */
  height: 150px;
  overflow: hidden;
}

.location-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-container {
  width: 200px; /* You can adjust the size as needed */
  height: 200px;
  overflow: hidden;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section {
  background-color: $cyan-700;
  padding: 120px 0; /* Adjust the top and bottom padding as needed */
  text-align: center;
  color: white;
}

.hero-section h1 {
  font-size: 48px;
  margin-bottom: 0px; /* Adjust the margin as needed */
}

.hero-section p {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.6;
}

.second-section {
  background-color: white;
  padding: 60px 0; /* Adjust the padding as needed */
}

.second-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.second-section img {
  max-width: 80%; /* Adjust the size of the image as needed */
  margin-bottom: 20px;
}

.second-section p {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
}

.second-section .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-section .btn-signup {
  margin-top: 30px;
  background-color: $cyan-700;
  color: white;
  max-width: 100px;
}

.second-section .btn-signup:hover {
  background-color: $cyan-900;
}


.col-md-4-landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 40px; /* Adjust the vertical margin (spacing) between the containers */
  padding: 48px;
}


.square-container-landing {
  width: 270px; /* Adjust the size of the container as needed */
  height: 270px;
  background-color: white;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 20px; /* Adjust the border-radius as needed for the desired roundness */
  padding: 24px; /* Add some padding to create space between content and container edge */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-landing {
  width: 80px; /* Adjust the size of the icon as needed */
  height: 80px;
  margin-bottom: 20px; /* Add some spacing between the icon and the title */
}


.h4-landing {
  font-family: Anek Latin;
  font-size: 24px;
  font-style: bold;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  text-align: center;
  color: black;
}

.text-center {
  text-align: center;
}

.third-section {
  background-color: lightgray;
  padding: 48px 0; /* Add space at the top and bottom of the section */
}

/* Adjust spacing between the containers for different screen sizes */
.col-md-4-landing {
  display: flex;
  justify-content: center;
  margin: 0 10px; /* Adjust the horizontal margin (spacing) between the containers */
}

.third-section h2 {
  font-size: 36px;
  margin-bottom: 12px;
  text-align: center;
}


.text-center {
  text-align: center;
}

.fourth-section {
  background-color: white;
  padding: 48px 0; /* Add space at the top and bottom of the section */
}

/* Adjust spacing between the containers for different screen sizes */
.col-md-4 {
  margin: 10px; /* Adjust the horizontal margin (spacing) between the cards */
}


/* Center the h2 title */
.fourth-section h2 {
  margin-bottom: 20px; /* Add some spacing between the h2 title and the cards */
}

/* Style the location info container */
.location-info {
  display: flex;
  align-items: center;
}


/* Style for the buttons */

/* Buttons */

.btn-cyan-700 {
  width: 210px;
  height: 30px;
  background: #097695;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  font-family: Anek Latin;
  font-size: 14px;
  font-weight: 500;
  color: white;
  word-wrap: break-word;
}

.btn-cyan-700:hover {
  background: #045065;
}

.btn-secondary {
  background: $orange-500;
  color: white;
  border-radius: 10px;
  font-family: Anek Latin;
  font-size: 14px;
  font-weight: 500;
}

.btn-footer {
  width: 105px;
  height: 25px;
  background-color: $orange-500; /* Change this to the desired primary button color */
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  font-family: Anek Latin;
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
  margin-right: 5px;
}

.btn-footer:hover {
  background-color: $orange-700; /* Change this to the desired button hover color */
  color: white;
}
