<div class="">


  <div class="container-title">
    <div class="title">
      <div class="title-img-pencil"></div>
      <div class="title-txt">Reviews</div>
    </div>
  </div>


  <div class="content-block">
    <div class="image-container">
      <img src="your_image_url_here.jpg" alt="Image">
    </div>
    <div class="text-container">
      <h2>Title</h2>
      <p>
      I found a place that might interest you. It’s called “Hub Park” and it’s located in the Cuauhtémoc borough.
      It’s a very beautiful place with a lake where you can go boating. They have many trees and green areas to walk around and enjoy nature.
      They also offer ecological tours where you..
      </p>
    </div>
  </div>


</div>
