<h1>My Reviews</h1>
<% @reviews.each do |review| %>
  <p><%= review.title %> - <%= review.comment %></p>
<% end %>

<!-- app/views/my_review.html.erb -->

<div class="content-block">
  <div class="image-container">
    <img src="your_image_url_here.jpg" alt="Image">
  </div>
  <div class="text-container">
    <h2>Title</h2>
    <p>
      Your text goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed at tortor euismod, bibendum nisl nec, interdum elit.
    </p>
  </div>
</div>
